@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: #24232B;
  --green: #A4FFAF;
  }
  
  .generate_btn { 
    padding: 8px;
    background-color: var(--green);
  }
  .box {
      margin: 10px auto;
      width: 350px;
      padding: 20px;
      background-color: var(--main-bg-color);
  }
  
  .num_length{
    color: var(--green);
  }

  .password{
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
  }

 

  .slider{
    -webkit-appearance: none;
    -moz-appearance: none;
    height:5px;
    width: 100%;
    background: linear-gradient( 90deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214)  100% );
    border-radius:12px;
  }

  .slider::-webkit-slider-thumb{    
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
  }

.slider::-moz-range-thumb{
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}
